<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="description" content="{{ page.description }}">
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/style.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/bootstrap-grid.min.css">
</head>
