@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Roboto');
html {
    background-image: url(painted-hills-dark.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Roboto', sans-serif;
}
header {
    text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
}
header h1 a {
    text-decoration: none;
}
nav ul {
    text-align: center;
    list-style: none;
}
nav ul li {
    display: inline;
}
nav ul li a {
    margin: 1em;
}
nav ul li::after {
    content: "|";
}
nav ul li:last-child::after {
    content: "";
}
nav ul li a {
    text-decoration: none;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: lightgray;
    text-decoration: underline;
}
.post-list {
	list-style: none;
}
footer {
    text-align: center;
}
